@import '../../styles.scss';

p-chart {
  canvas {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
  }
}

.btn-row {
  padding: 20px 0px;
}

.current-price, .btn-row {
  @include flex-standard($g: 20px);
}
.container-price-info {
  @include flex-standard($fd: column);
  p {
    font-size: 200%;
    margin: 0;
    padding-bottom: 16px;
  }
}

